@import url(https://fonts.googleapis.com/css2?family=Anta&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Anta&family=Space+Grotesk&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Anta&family=Play:wght@700&family=Space+Grotesk:wght@300..700&display=swap);

html {
    background-color: rgb(49, 49, 49);
}

html,
body {
    height: 100%;
    overflow-y: hidden;
}


main {
    margin: 0% 3%;
    background-color: rgb(255, 255, 255);
}



header {
    left: 0;
    right: 0;
    background-color: rgb(49, 49, 49);
    position: sticky;
    top: 0;
    margin: auto;
    font-family: "Anta", sans-serif;
}

nav {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.logoportfolio {
    width: 100%;
}

.links {
    width: 50%;
}

.links ul {
    display: flex;
    gap: 8.8%
}

.links li {
    list-style-type: none;
}

.links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    cursor: pointer;
}

.pagecomplete {
    overflow-y: scroll;
    height: 817px;
    margin-left: 2%;
    padding-right: 2%;
    overflow-x: hidden;
}

.logohautgauche {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40vw;
    top: 2vw;
    position: relative;
}

.logobasdroite {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 30vw;
    position: relative;
    left: 60vw;
}

.logogauche {
    display: flex;
    flex-direction: column;
    width: 80vw;
    position: relative;
    left: 10vw;
    top: 10vw;

}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 80%;
    width: 100%;
}

.contenupresentation {
    width: 100%;
}

#ABOUT {
    left: 20%;
    font-size: 3rem;
    z-index: 10;
    font-family: "Play", sans-serif;
    bottom: 27vw;
    text-shadow: 5px 5px 100px;
}

.photomoi {
    border-radius: 20%;
    border: solid;
    border-color: rgb(49, 49, 49);
    box-shadow: 5px 5px 15px rgb(49, 49, 49);
    height: 25vw;
    width: 25vw;
    object-fit: cover;
    left: 3vw
}

.contenupresentation p {
    line-height: 1.4;
    font-size: 1.6rem;
    width: 45vw;
    font-family: "Space Grotesk", sans-serif;
}

img {
    width: 30%;
}

.separation {

    background-color: black;

}

.separationbis {

    background-color: black;
}

.separation2 {
    width: 70vw;
    height: 3px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

-------------------------------------------------------------------------- .divprojets {}

#PROJETS {
    position: relative;
    font-size: 3rem;
    font-family: "Anta", sans-serif;
    margin-top: vw;
    margin-bottom: 10vw;
    text-shadow: 5px 5px 100px;
}

.projet1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projet1 img {
    width: 30vw;
    border-radius: 10vw;
}

.icon {
    width: 20%;
}

footer {
    left: 0;
    right: 0;
    background-color: rgb(49, 49, 49);
    color: #ffffff;
    position: sticky;
    bottom: 0;
    margin: auto;
}