@import url(https://fonts.googleapis.com/css2?family=Anta&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Anta&family=Space+Grotesk&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Anta&family=Play:wght@700&family=Space+Grotesk:wght@300..700&display=swap);

html {
    background-color: rgb(49, 49, 49);
}

html,
body {
    height: 100%;
    overflow-y: hidden;
}


main {
    margin: 0% 3%;
    background-color: rgb(255, 255, 255);
}



header {
    left: 0;
    right: 0;
    background-color: rgb(49, 49, 49);
    position: sticky;
    top: 0;
    margin: auto;
    font-family: "Anta", sans-serif;
}

nav {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.logoportfolio {
    width: 100%;
}

.links {
    width: 60%;
}

.links ul {
    display: flex;
    gap: 2.5rem;
}

.links li {
    list-style-type: none;
}

.links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
}

.links img {
    width: 2.2rem;
    display: flex;
    position: relative;
    top: 0.2rem;
}

.links>ul>li:hover {
    transform: translate(5px) scale(1.25);
    transition: 0.5s;
    cursor: pointer;
}

.links>ul>li {
    transition: 0.8s;
}

.pagecomplete {
    overflow-y: scroll;
    height: 817px;
    margin-left: 2%;
    padding-right: 2%;
    overflow-x: hidden;
}

.logohautgauche {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40vw;
    top: 2vw;
    position: relative;
}

.logobasdroite {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 20vw;
    position: relative;
    left: 70vw;
    top: 10vw;
}

.logogauche {
    display: flex;
    flex-direction: column;
    width: 80vw;
    position: relative;
    left: 12vw;
    top: 0.3vw;
}

#ABOUT {
    font-size: 3rem;
    font-family: "Play", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    bottom: 9vw;
    right: 23%;
    text-shadow: 5px 5px 15px #66837b;
}

.contenupresentation {
    position: relative;
    bottom: 75%;
    width: 100%;
    display: flex;
}

.photomoi {
    border-radius: 20%;
    border: solid;
    border-color: rgb(49, 49, 49);
    box-shadow: 15px 15px 15px #b9e3d8;
    height: 25vw;
    width: 25vw;
    object-fit: cover;
    position: relative;
    top: 4vw;
    left: 2vw;
    transition: transform 0.8s;
}

.photomoi:hover {
    transform: translate(5px) scale(1.1);
    transition: transform 0.5s;
}

.contenupresentation p {
    line-height: 1.4;
    font-size: 1.6rem;
    width: 45vw;
    font-family: "Space Grotesk", sans-serif;
    text-align: center;
    position: relative;
    left: 15%;
}

img {
    width: 30%;
}

.separation {
    height: 10vw;
    width: 2px;
    background-color: black;
    position: relative;
    left: 5vw;
    bottom: 3vw;
}

.separationbis {
    height: 19vw;
    width: 2px;
    background-color: black;
    position: relative;
    left: 5vw;
    top: 26vw;
}

.separation2 {
    height: 2px;
    width: 93%;
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    bottom: 72%;
}

.divprojets {
    position: relative;
    bottom: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#PROJETS {
    font-size: 3rem;
    font-family: "Anta", sans-serif;
    text-shadow: 5px 5px 100px;
    position: relative;
    text-align: center;
    bottom: 4vw;
    text-shadow: 5px 5px 15px #66837b;
}

.toutlesprojets {
    display: flex;
    justify-content: space-around;
}

.projet1 {
    border: solid 0.1rem;
    border-radius: 20px;
    box-shadow: 15px 15px 15px #b9e3d8;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    font-family: "Space Grotesk", sans-serif;
    background-color: rgb(255, 253, 253);
    color: #ffffff;
    transition: transform 0.5s;
    cursor: pointer;
}

.projet1:hover {

    transform: scale(1.2);
    transition: transform 0.5s;
}

.projet1 h3 {
    color: #000000;
    position: relative;
    top: 1rem;
}

.projet1 img {
    width: 80%;
    border-radius: 20px;
    position: relative;
    top: 1.5rem;
}

.projet2 {
    border: solid 1px;
    border-radius: 20px;
    box-shadow: 15px 15px 15px #b9e3d8;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    font-family: "Space Grotesk", sans-serif;
    background-color: rgb(255, 255, 255);
    color: #ffffff;
    transition: transform 0.5s;
    cursor: pointer;
}

.projet2:hover {
    transform: scale(1.2);
}

.projet2 h3 {
    color: #000000;
    position: relative;
    top: 1rem;
}

.projet2 img {
    width: 80%;
    border-radius: 20px;
    position: relative;
    top: 1.5rem;
}

.projet3 {
    border: solid 1px;
    border-radius: 20px;
    box-shadow: 15px 15px 15px #b9e3d8;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    font-family: "Space Grotesk", sans-serif;
    background-color: rgb(255, 255, 255);
    color: #ffffff;
    transition: transform 0.5s;
    cursor: pointer;
}

.projet3:hover {
    transform: scale(1.2);
}

.projet3 h3 {
    color: #000000;
    position: relative;
    top: 1rem;
}

.projet3 img {
    width: 80%;
    border-radius: 20px;
    position: relative;
    top: 1.5rem;
}

.separation3 {
    height: 2px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    bottom: 30%;
}

.separation4 {
    height: 11vw;
    width: 2px;
    background-color: black;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 18vw;
    left: 67%;
}

.icon {
    width: 20%;
}

footer {
    left: 0;
    right: 0;
    background-color: rgb(49, 49, 49);
    color: #ffffff;
    position: ;
    bottom: 0;
    margin: auto;